#map {
  position: fixed;
  top: 2%;
  right: 1%;
  width: 150px !important;
  height: 150px !important;
  z-index: 100;
}
#cashShop{
  position: fixed;
  top: 2%;
  right: 11%;
  width: 35px;
  @media (max-width: 1300px) {
    top: 2%;
    right: 13.5%;
  }
  @media (max-width: 1200px) {
    top: 2%;
    right: 14.5%;
  }
  @media (max-width: 1100px) {
    top: 2%;
    right: 15.5%;
  }
  @media (max-width: 1000px) {
    top: 2%;
    right: 16%;
  }
  @media (max-width: 992px) {
    top: 2%;
    right: 16.5%;
  }
}